body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #ebf0f2;
    padding: 50px;
    text-align: center;
}

section {
    padding: 50px;

    .image-container {
        display: inline-block;
        margin-right: 50px;
    }

    .text-container {
        display: inline-block;
        vertical-align: bottom;
    }
}

.app-list-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2em;
}

.app-list-container {
    background-color: #ffffff;
    border: 1px solid #d7dadb;
    border-radius: 1em;
    padding: 1em;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    background-color: #fafbfc;
    padding-bottom: 1em;
}

md-toolbar.custom {
    background-color: #2c3e50;
}

md-list-item.underline {
    border-bottom: 1px solid #ededeb;
}
